@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background: rgb(19, 30, 59);
    background: linear-gradient(308deg, rgba(19, 30, 59, 1) 0%, rgba(57, 55, 66, 1) 100%);
    color: #fff;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p,
a,
span {
    line-height: 125%;
    font-weight: 400;
    font-size: 2vmin;
}

a {
    color: #fff;
    font-style: italic;
}

figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

header {
    color: #fff;
    border-bottom: solid #fff 1px;

    a {
        text-decoration: none;
        font-size: 24px;
    }

    #inner-header {
        display: flex;
        justify-content: space-between;
    }

    #brand {
        margin: 1rem;
        font-weight: 700;
    }

    input {
        height: 2rem;
        margin: 1rem;
        padding: 0.5rem;
        align-self: center;
    }
}

main {
    min-height: calc(100vh - 68px);
    display: flex;
    align-items: center;

    #content-field {
        display: flex;
        //overflow-x: scroll;
        flex-wrap: wrap;
        height: 100%;
        padding: 2rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .planet-field {
        max-width: 300px;
        text-align: center;
        height: min-content;
        transition: opacity 500ms;
    }

    #content-field:hover .planet-field {
        opacity: 0.5;
    }

    #content-field .planet-field:hover {
        cursor: pointer;
        opacity: 1;
    }

    img {
        width: 100%;
    }
}

#planet-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 68px);

    article {
        padding: 4rem;
        grid-column: 1 / 3;

        .btns {
            display: flex;
            justify-content: center;
        }

        button {
            padding: 0 2rem;
            margin: 0 0.5rem;
            font-weight: 700;
            font-size: 2rem;
            background-color: #65CAEC;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        button:hover {
            filter: brightness(0.8);
        }
    }

    .planet-info {
        margin: 3rem 0;
        display: flex;
        justify-content: space-between;

        p {
            margin: 0;
        }
    }

    #planet-image {
        position: absolute;
        height: 100vmin;
        bottom: -35vmin;
        right: -35vmin;
        overflow: hidden;

        animation-name: rotate-planet;
        animation-timing-function: linear;
        animation-duration: 360s;
        animation-iteration-count: infinite;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    em {
        color: #ECB365;
    }

    p {
        margin: 3rem 0;
    }

    .line {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

@media screen and (max-width: 1364px) {
    #planet-page {

        article,
        figure {
            grid-column: 1 / 5;
            padding: 2rem;
        }

        #planet-image {
            position: static;
            max-width: 100%;
            height: auto;

        }
    }
}

@media screen and (max-width: 820px) {

    p,
    a,
    span {
        font-size: 3vmin;
    }
}

@keyframes rotate-planet {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}